.admin-orders-wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  .top-section {
    width: 100%;
    margin-bottom: 1.75rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}