.admin-products-wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  .top-section {
    width: 100%;
    margin-bottom: 1.75rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .card-item {
    background-color: rgb(31 41 55 / 0.5);
    border-radius: 0.5rem;
    border: 1px solid rgb(55 65 81 / 1);
    padding: 1.5rem;
    width: 25%;
  }

  .card-header {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    display: flex;
    color: rgb(229 231 235 / 1);
    align-items: center;
  }

  .card-content {
    color: rgb(243 244 246 / 1);
    font-weight: 600;
    font-size: 27px;
    margin-top: 0.5rem;
  }

  .table-section {
    padding: 1.25rem;
    background-color: rgb(31 41 55 / 0.5);
    border: 1px solid rgb(55 65 81 / 1);
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
  }

  .table-header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .header-title {
    color: rgb(243 244 246 / 1);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .search-bar-box {
    display: flex;
    align-items: center;
    position: relative;
  }

  .search-icon {
    position: absolute;
    left: 0.625rem;
    top: 0.625rem;
    color: rgb(156 163 175 / 1);
  }

  .search-bar {
    color: rgb(255 255 255 / 1);
    padding-right: 1rem;
    padding-left: 2.5rem;
    padding-top: 0.5rem;
    width: 236px;
    font-size: 16px;
    height: 40px;
    padding-bottom: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    background: rgb(55 65 81 / 1);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .overview-auto {
    overflow-x: auto;
  }

  .w-100 {
    width: 100%;
    border-collapse: collapse;
  }

  .table-header-label {
    color: rgb(209 213 219 / 1);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: left;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .table-content-item {
    color: rgb(243 244 246 / 1);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .action-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
  }

  .edit-btn {
    color: rgb(59 130 246 / 1);
    cursor: pointer;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    border: 0;
  }

  .delete-btn {
    color: rgb(239 68 68 / 1);
    cursor: pointer;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    border: 0;
  }

  .border-top {
    border-top: 1px solid rgb(156 163 175 / 1);
  }

  .pagination-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    flex-direction: row;
  }

  .pagination-content {
    display: flex;
    align-items: center;
  }

  .pagination-btn {
    color: rgb(156 163 175 / 1);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: default;
    padding-left: 0.75rem;
    border: 1px solid rgb(75 85 99 / 1);
    padding-right: 0.75rem;
    border-radius: 0.375rem;
    text-transform: none;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }

  .pagination-btn-icon {
    display: block;
    vertical-align: middle;
  }

  .pagination-text {
    color: rgb(243 244 246 / 1);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .active-pagination-btn {
    color: rgb(243 244 246 / 1) !important;
  }
}